
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.icons {
  color: #E5E7EB;
}

.icons:hover {
  transform: scale(125%);
  color: #22d3ee;
}
